In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('hour.csv')
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [3]:
df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [10]:
#convert dates to datetime
df['dteday'] = pd.to_datetime(df['dteday'])
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [12]:
model = KMeans(n_clusters=3)
model.fit(df)

fig = plt.figure(figsize=(10,10))
plt = fig.add_subplot(111, projection='3d')
plt.scatter(X[:,0],X[:,1],X[:,2], 
            c=all_predictions, edgecolor='red', s=40, alpha = 0.5)
plt.set_title("First three PCA directions")
plt.set_xlabel("Educational_Degree")
plt.set_ylabel("Gross_Monthly_Salary")
plt.set_zlabel("Claim_Rate")

array([ 16,  40,  32,  13,   1,   2,   3,   8,  14,  36,  56,  84,  94,
       106, 110,  93,  67,  35,  37,  34,  28,  39,  17,   9,   6,  20,
        53,  70,  75,  59,  74,  76,  65,  30,  22,  31,   5,  64, 154,
        88,  44,  51,  61,  77,  72, 157,  52,  12,   4, 179, 100,  42,
        57,  78,  97,  63,  83, 212, 182, 112,  54,  48,  11,  33, 195,
       115,  46,  79,  71,  62,  89, 190, 169, 132,  43,  19,  95, 219,
       122,  45,  86, 172, 163,  69,  23,   7, 210, 134,  73,  50,  87,
       187, 123,  15,  25,  98, 102,  55,  10,  49,  82,  92,  41,  38,
       188,  47, 178, 155,  24,  18,  27,  99, 217, 130, 136,  29, 128,
        81,  68, 139, 137, 202,  60, 162, 144, 158, 117,  90, 159, 101,
       118, 129,  26, 104,  91, 113, 105,  21,  80, 125, 133, 197, 109,
       161, 249, 143, 215, 185, 152, 126, 166, 120,  96, 103,  58, 116,
       177, 184, 153, 108, 238, 222, 225, 146, 119, 149, 107, 156, 111,
       135, 176, 168, 175, 147, 220, 127, 205, 174, 121, 230,  66, 114,
       216, 243, 199, 170, 165, 160, 140, 211, 145, 256, 223,  85, 206,
       124, 255, 285, 274, 272, 191, 232, 327, 224, 196, 171, 198, 167,
       235, 209, 141, 252, 189, 183, 193, 259, 282, 261, 268, 142, 131,
       214, 242, 148, 201, 150, 228, 204, 164, 233, 257, 151, 248, 194,
       244, 213, 181, 221, 250, 304, 241, 271, 253, 237, 299, 313, 310,
       207, 138, 280, 173, 332, 331, 267, 301, 312, 278, 203, 279, 308,
       226, 276, 336, 307, 273, 227, 239, 254, 287, 294, 263, 192, 281,
       367, 349, 292, 303, 339, 366, 386, 325, 356, 314, 343, 333, 297,
       288, 236, 240, 452, 383, 284, 291, 309, 321, 337, 388, 300, 200,
       180, 354, 361, 306, 277, 428, 362, 286, 351, 411, 421, 396, 432,
       441, 365, 481, 324, 346, 391, 397, 426, 376, 283, 289, 317, 420,
       369, 359, 270, 353, 521, 499, 382, 449, 186, 528, 328, 234, 246,
       444, 218, 412, 260, 398, 455, 530, 404, 269, 508, 439, 416, 464,
       407, 371, 387, 264, 266, 537, 518, 265, 459, 517, 544, 290, 410,
       296, 440, 533, 520, 258, 450, 344, 553, 470, 298, 347, 373, 436,
       378, 342, 340, 390, 358, 385, 374, 598, 524, 384, 425, 611, 550,
       434, 318, 442, 401, 594, 527, 364, 491, 295, 322, 456, 437, 392,
       231, 394, 453, 604, 480, 565, 489, 487, 302, 547, 513, 319, 330,
       554, 473, 323, 418, 493, 462, 506, 471, 305, 316, 409, 429, 548,
       564, 355, 531, 601, 405, 494, 478, 419, 399, 402, 341, 251, 229,
       350, 311, 406, 495, 417, 454, 486, 467, 572, 525, 379, 502, 558,
       293, 247, 451, 335, 363, 357, 438, 579, 556, 334, 477, 539, 551,
       424, 466, 326, 463, 380, 275, 315, 360, 476, 586, 423, 569, 538,
       370, 498, 638, 607, 552, 208, 468, 381, 377, 431, 536, 529, 540,
       400, 352, 557, 375, 443, 403, 447, 591, 504, 570, 588, 320, 555,
       492, 427, 461, 422, 414, 408, 457, 545, 496, 368, 245, 596, 563,
       562, 372, 514, 472, 511, 488, 595, 578, 348, 587, 497, 433, 475,
       430, 262, 485, 546, 541, 483, 338, 543, 413, 435, 523, 532, 585,
       584, 559, 582, 571, 516, 465, 329, 600, 609, 651, 519, 567, 621,
       484, 469, 576, 608, 446, 628, 389, 505, 460, 590, 599, 566, 482,
       568, 415, 589, 345, 593, 393, 500, 479, 620, 625, 614, 395, 445,
       512, 490, 515, 526, 509, 448, 560, 610, 522, 549, 501, 612, 597,
       644, 712, 676, 734, 662, 782, 749, 623, 713, 746, 686, 690, 679,
       685, 648, 503, 721, 801, 750, 535, 729, 779, 649, 810, 957, 830,
       657, 664, 684, 458, 581, 658, 641, 654, 703, 681, 606, 605, 561,
       573, 618, 757, 800, 744, 759, 822, 698, 655, 643, 626, 615, 617,
       632, 646, 692, 704, 624, 656, 738, 671, 678, 660, 635, 616, 673,
       781, 775, 677, 748, 776, 700, 580, 819, 668, 640, 639, 691, 732,
       709, 592, 702, 653, 603, 683, 743, 666, 813, 627, 706, 575, 769,
       680, 717, 710, 622, 705, 630, 770, 659, 602, 733, 650, 873, 846,
       474, 634, 852, 868, 745, 812, 669, 642, 730, 672, 645, 637, 577,
       785, 719, 798, 752, 583, 839, 796, 507, 693, 827, 694, 647, 665,
       834, 850, 790, 724, 869, 793, 723, 534, 831, 613, 857, 867, 823,
       542, 811, 795, 833, 791, 900, 824, 687, 843, 804, 697, 747, 722,
       689, 849, 872, 631, 674, 814, 633, 825, 629, 835, 667, 755, 794,
       661, 772, 771, 777, 715, 847, 741, 877, 788, 913, 891, 688, 699,
       751, 760, 820, 837, 652, 739, 865, 767, 858, 737, 862, 818, 854,
       682, 851, 848, 897, 832, 893, 815, 878, 740, 783, 707, 941, 736,
       845, 864, 808, 870, 754, 844, 853, 856, 725, 863, 792, 696, 701,
       871, 968, 970, 925, 977, 758, 884, 766, 894, 842, 774, 797, 886,
       892, 976, 805, 898, 967, 838, 953, 905, 899, 663, 727, 784, 809,
       917, 901, 887, 761, 806, 948, 670, 619, 943, 817, 888, 890, 714,
       711, 731, 675, 728, 922, 786, 938, 826, 963, 708, 636], dtype=int64)